<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:100' rel='stylesheet' type='text/css'>
        <!-- Latest compiled and minified CSS -->
<!--     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

    


    <script type="text/javascript">
          var tag = document.createElement('script');
          tag.src = "http://www.youtube.com/player_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          // 3. This function creates an <iframe> (and YouTube player)
          //    after the API code downloads.
          var player;
          function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
              playerVars: { 'autoplay': 1, 'controls': 1,'autohide':1,'wmode':'transparent' },
              videoId: '20QQVBcKpPc',
              events: {
                'onReady': onPlayerReady}
            });
          }

          // 4. The API will call this function when the video player is ready.
          function onPlayerReady(event) {
            // event.target.mute();
          }
    // </script>


    
    <title>Shyangden Phiroj</title>

</head>

<body>



<!--   <div class="header-video">
    <img src=""
         class="header-video__media"
         data-video-URL="https://youtu.be/8yDzZ0KJjoU"
         data-teaser="video/teaser-video"
         data-video-width="560"
         data-video-height="315">
    <a href="https://youtu.be/8yDzZ0KJjoU" class="header-video__play-trigger" id="header-video__play-trigger">Play video</a>
    <button type="button" class="header-video__close-trigger" id="header-video__close-trigger">Close video</button>
  </div> -->



  <div class="header1">
    <div style=" width: 100%; height: 100%" >
        <iframe id="player" frameborder="0" height="100%" width="100%" 
        src="//www.youtube.com/embed/8yDzZ0KJjoU?modestbranding=1&autohide=0&showinfo=0&controls=1&enablejsapi=1&autoplay=1&vq=hd1080">
        </iframe>
  </div>



   <!--      <div class="col-md-6" id="music">
         <div class="container-fluid">
          <div class="row"> -->
<div id="music">
    <h1 class='navname'>Shyangden Phiroj</h1>
        <h1 class='music_title'>Music</h1>
            <ul class="list-unstyled">
                <li><a href="https://pshyang.herokuapp.com/">Classical Guitar One</a></li>
                <li><a href="music.html">Classical Guitar Two</a></li>
                <li><a href="music_two.html">Narayan Gopal</a></li>
            </ul>

        <div id='about'>
            <h1 class='about_title'>About</h1>
                <div id='connect'>
                    <p id='bio'>Based in Queens, New York, Shyangden Phiroj is a world-renown guitarist. A founding member of one of Nepal's most famous rock bands, 1974 AD, his playing style implements various genres, including Nepali folk, ragas, rock, funk, blues and jazz. </p>
                </div>
        </div>


        <div id='contact'>
            <h1 class='contact_title'>Contact</h1>
                <div id='connect'>
                    <p id='email'>For booking inquiries, please connect via the links below: </p>
                </div>
                    <div class='social'>
                        <a href="https://soundcloud.com/shyangden-phiroj" target="_blank"><img class='slinks' src="assets/sc2.png"></a>
                        <a href="https://www.facebook.com/pages/Phiroj-Shyangden/281762140542" target="_blank"><img class='slinks' src="assets/fb2.png"></a>
                        <a href="https://www.linkedin.com/pub/phiroj-shyangden/7a/948/186" target="_blank"><img class='slinks' src="assets/li2.png"></a>
                        <a href="https://www.youtube.com/channel/UCrHstpw9XwH9uydjNpl8d9g" target="_blank"><img class='slinks' src="assets/yt2.png"></a>
                    </div>
                </div>
        </div>
<!-- </div> -->


