<br>
<body class="contactpage">
	<div class="contactbox">
  	<div class="contactheader">
  		For booking inquiries, please send an email to phirojmusic@gmail.com
  		<br><br><a class="logos" href="mailto:phirojmusic@gmail.com" target="_blank">
		  	<img class="mailto" src="assets/mail.png">
		  </a>
    </div>

     <div class='contact'>
            <h1 class='contact_title'>Discover More</h1>
<!--                 <div id='connect'>
                    <p id='email'>For booking inquiries, please connect via the links below: </p>
                </div> -->
                    <div class='social'>

                      <span class="socialspan"><a href="https://soundcloud.com/shyangden-phiroj" target="_blank"><img class='slinks' src="assets/sc2.png"></a>
                        <a href="https://www.facebook.com/pages/Phiroj-Shyangden/281762140542" target="_blank"><img class='slinks' src="assets/fb2.png"></a>
                        <a href="https://www.linkedin.com/pub/phiroj-shyangden/7a/948/186" target="_blank"><img class='slinks' src="assets/li2.png"></a>
                        <a href="https://www.youtube.com/channel/UCrHstpw9XwH9uydjNpl8d9g" target="_blank"><img class='slinks' src="assets/yt2.png"></a></span>
                    </div>
                </div>


    

	</div>

	
</body>
