// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gallerypage{
		background: url('bd.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.gallerybox{
	background-color: rgba(255,255,255, 0.3);
	width: 70%;
	margin-left: 15%;
	padding: 2%;
	margin-top: 150px;
}

.galary_header{
	border-bottom: 1px solid black;
	font-size: 30px;
	color:black;
	font-family: cursive;
	margin-bottom: 2%;
	text-align: center;
}


.thumbnail {margin-bottom:6px;}

.modal-body img {
	width: 100%; 
	margin-top: 25px;	
  
}

.gallerytitle  {
	font-family: times;
	font-size: 1.7em;
	letter-spacing: .12em;
	text-transform: uppercase;
	color: #a94442;
	margin: 0 auto;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	}

.eventtitle{
	color: rgba(255, 255, 255, 0.8);
	font-size: 30px;
	text-align: center;
	font-family: cursive;
	margin-top: 50px;
	margin-bottom: 50px;
}


@media all and (max-width: 400px)  {


}
